.radio-logo{
  width: 10%;
  height: 10%;
}

.nav-items {
  font-size: 1rem;
  font-weight: 300;
}
.nav-items:hover {
  font-weight: 450;
  text-decoration: underline;
  transition: all 5s;
}

.button {
  width: 120px;
  font-size: 1.2rem;
  text-align: center;
  background-color: #56c250;
  border: 1px solid #2a6b27;
}

.white-section {
  margin: auto;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: row;
}